<nb-card>
  <nb-card-header>
    Ceps
  </nb-card-header>

  <nb-card-body>

    <!-- BUSCA POR CIDADE -->
    <div class="cidade-filter">
  <!-- CIDADE (estica) -->
  <div class="cidade-col">
    <input
      nbInput
      fullWidth
      placeholder="Digite o nome da cidade..."
      [formControl]="cidadeCtrl"
      (focus)="showCidadeDropdown = true"
      (blur)="onCidadeBlur()"
    />

    <div
      *ngIf="showCidadeDropdown && sugestoesCidades.length > 0"
      class="cidade-dropdown"
    >
      <div
        *ngFor="let c of sugestoesCidades"
        (mousedown)="selecionarCidade(c)"
        class="cidade-item"
      >
        <strong>{{ c.nome }}</strong>
        <span *ngIf="c.estadoUf"> ({{ c.estadoUf }})</span>
      </div>
    </div>
  </div>

  <!-- UF (readonly) -->
  <input
    nbInput
    class="uf-input"
    placeholder="UF"
    [value]="estadoSiglaSelecionada ?? ''"
    readonly
  />

  <!-- LIMPAR (estilo input) -->
  <button
    nbButton
    status="basic"
    size="small"
    class="limpar-btn"
    (click)="limparCidade()"
  >
    Limpar
  </button>
</div>

    <!-- TABELA -->
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onSaveConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>

  </nb-card-body>
</nb-card>