<!-- contato-iud.component.html -->
<nb-card [accent]="modoEdicao ? 'info' : 'success'" class="dialog-card">

    <nb-card-header>
        {{ modoEdicao ? 'Editar Documento' : 'Novo Documento' }}
        <button nbButton ghost shape="round" size="small" (click)="cancelar()" class="close-button">
            <nb-icon icon="close-outline"></nb-icon>
        </button>
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="documentoForm" (ngSubmit)="salvar()">

            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="nomeCompleto" class="label">Nome</label>
                    <input nbInput fullWidth id="nomeCompleto" placeholder="Nome" formControlName="nomePessoa" readonly="true"
                        tabindex="-1" (focus)="$any($event.target).blur()" style="cursor: default;">
                </div>
            </div> 

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="label">Tipo Documento:</label>
                    <nb-radio-group formControlName="tipoDocumento" class="radio-group-flex-container">
                        <nb-radio value="0" class="radio-flex-item">CTPS</nb-radio>
                        <nb-radio value="1" class="radio-flex-item">CNH</nb-radio>
                        <nb-radio value="2" class="radio-flex-item">INSCRIÇÃO MUNICIPAL</nb-radio>
                        <nb-radio value="3" class="radio-flex-item">PASSAPORTE</nb-radio>
                        <nb-radio value="4" class="radio-flex-item">RESERVISTA</nb-radio>
                        <nb-radio value="5" class="radio-flex-item">RG</nb-radio>
                        <nb-radio value="6" class="radio-flex-item">TÍTULO DE ELEITOR</nb-radio>
                        <nb-radio value="7" class="radio-flex-item">RG PARA ESTRANGEIRO</nb-radio>
                    </nb-radio-group>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="numeroDocumento" class="label">Numero documento</label>
                    <input nbInput fullWidth id="numeroDocumento" 
                        placeholder="numeroDocumento..." 
                        formControlName="numeroDocumento"
                    > 
                </div>

                <div class="col-md-2 form-group">
                    <label for="orgaoExpedidor" class="label">Orgão Expedidor</label>
                    <input nbInput fullWidth id="orgaoExpedidor" placeholder="Orgao Expedidor..."
                        formControlName="orgaoExpedidor">
                </div>

                <div class="col-md-2 form-group">
                    <label for="categoriaCnh" class="label">Categoria CNH</label>
                    <input nbInput fullWidth id="categoriaCnh" placeholder="Categoria CNH..."
                        formControlName="categoriaCnh">
                </div>

                <div class="col-md-2 form-group">
                    <label for="zona" class="label">Zona</label>
                    <input nbInput fullWidth id="zona" placeholder="Zona..."
                        formControlName="zona">
                </div>

                <div class="col-md-2 form-group">
                    <label for="secao" class="label">Seção</label>
                    <input nbInput fullWidth id="secao" placeholder="Seção..."
                        formControlName="secao">
                </div>
                
            </div>

            <div>
                
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="dataDocumento">Data Documento</label>
                        <input type="date" nbInput formControlName="dataDocumento" fullWidth id="dataDocumento">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="dataEtapa">Data Expedição</label>
                        <input type="date" nbInput formControlName="dataExpedicao" fullWidth id="dataExpedicao">
                    </div>

                    <div class=" form-group col-md-3">
                        <label for="nome">Data Validade</label>
                        <input type="date" nbInput formControlName="dataValidade" fullWidth id="dataValidae">
                    </div>

                    <div class=" form-group col-md-3">
                        <label for="nome">Data 1ª CNH</label>
                        <input type="date" nbInput formControlName="dataPrimeiraCnh" fullWidth id="dataPrimeiraCnh">
                    </div>
                </div> 
            </div>

               
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="documentoOrigem" class="label">Origem</label>
                    <input nbInput fullWidth id="documentoOrigem" 
                        placeholder="Origem..." 
                        formControlName="documentoOrigem"
                    > 
                </div>

                <div class="col-md-9 form-group">
                    <label for="observacao" class="label">Observação</label>
                    <input nbInput fullWidth id="observacao" placeholder="Observação..."
                        formControlName="observacao">
                </div>
            </div>

        </form>
    </nb-card-body>

    <nb-card-footer class="text-right">
        <button nbButton status="basic" (click)="cancelar()" class="mr-2" [disabled]="isLoadingSalvar">Cancelar</button>
        <button nbButton status="danger" (click)="salvar()" [disabled]="documentoForm.invalid || isLoadingSalvar">
            <nb-spinner *ngIf="isLoadingSalvar" size="tiny" class="button-spinner"></nb-spinner>
            {{ modoEdicao ? 'Salvar Alterações' : 'Enviar' }}
        </button>
    </nb-card-footer>

</nb-card>