:host ::ng-deep ng2-smart-table-pager {
  justify-content: center;
}

/* Bloqueia o INPUT da coluna ID em qualquer circunstância */
:host ::ng-deep ng2-smart-table td input[ng-reflect-name="id"],
:host ::ng-deep ng2-smart-table td input[name="id"] {
  pointer-events: none;   /* impede clicar/digitar */
  user-select: none;
  background: #f7f9fc;
  opacity: 0.85;
}

// Bloqueia a coluna pais no modo edit.
:host ::ng-deep ng2-smart-table
  ng2-smart-table-cell[ng-reflect-is-in-editing="true"][ng-reflect-is-new="false"]
  ngx-pais-nome-editor
  .pais-nome-input {
  pointer-events: none;
  user-select: none;
  background: #f7f9fc;
  opacity: 0.85;
}